/* app css stylesheet */

* {
  padding: 0;
  margin: 0;
  background-color: black;
}

canvas {
  display: block;
  margin: 0 auto;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar {
  color: white;
  background-color: #E5E5E6;
  top: 0;
  height: 40px;
  width: 100%;
  margin-bottom: 50px;
}

.navbar h1{
  text-align: center;
}

@media screen and (max-width: 850px) and (min-width: 650px) {
  #myCanvas {
    width: 650px;
    height: 425px;
  }
}

@media screen and (max-width: 650px) and (min-width: 400px) {
  #myCanvas {
    width: 550px;
    height: 400px;
  }
}
