<div class="navbar">
  <h1 class="md-display-3 page-title" layout-align="center">Project Pandemic</h1>

  <div class="github" layout="row" layout-align="center center" layout-margin>
    <p class="md-title github-text">Check out Pandemic on <a href="https://github.com/michaelaflores/project-pandemic" target="_blank">Github</a></p>
    <a ng-href="https://github.com/michaelaflores/project-pandemic" target="_blank"><ng-md-icon icon="github-circle" class="icon"></ng-md-icon></a>
  </div>

    <md-content class="user-input-container" layout="row" layout-align="center center" layout-margin>
      <div layout="row" flex>
        <p class="md-title timer-title" flex>Timer: </p>
        <span class="seconds input-container" flex><span id="secondsCounter">{{ seconds }}</span> seconds</span>
      </div>
      <div layout="row" flex>
        <p class="md-title" flex>Infected: </p>
        <span class="infected input-container" id="infectedCount" flex>{{ infectedCount }}</span>
      </div>
      <div layout="row" class="hide-on-small" flex>
        <p class="md-title" flex>Starting Infected: </p>
        <span class="infected input-container" flex>{{ startingInfectedCount }}</span>
      </div>
      <div layout="row" class="hide-on-small" flex>
        <p class="md-title" flex>Total Nodes: </p>
        <span class="infected input-container" flex>{{ startingNodes}}</span>
      </div>
    </md-content>

    <div layout="column">
      <div class="speed" layout="column" flex>
        <p class="md-title">Speed</p>
        <md-button ng-click="reduceSpeed()" class="md-fab md-button md-raised">-</md-button>
        <md-button class="md-fab md-button md-raised">{{ changeSpeed }}</md-button>
        <md-button ng-click="increaseSpeed()" class="md-fab md-button md-raised">+</md-button>
      </div>
    </div>
  </div>

  <canvas id="myCanvas" width="890" height="380" style="margin-top: 120px;" moz-opaque></canvas><br>
