@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400|Playfair+Display|Poiret+One);

body {
  background: #DFDDDF;
  height: auto;
  width: 100%;
  color: black;
  font-family: 'Raleway';
}
